@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html{
  width: 100%;
  height: 100%;
}
*{
  margin: 0;
  padding: 0;
}
body {
  --color:#eb821b;
  background-color: white;
  color:var(--color);
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  overflow:visible;
}
.about{
  background-color: rgb(255, 255, 255);
  background-size: cover;
  height: 100vh;
}

.home{
  color: var(--color);
  height: 100vh;
}






@keyframes pagetransition{
  0%{
      position: fixed;
      transform: translateX(-100%);
  }
  100%{
      position: fixed;
      transform: translateX(-0%);
  }
}
@keyframes rotate{
  0%{
      transform: rotate(0deg);
  }
  100%{
      transform: rotate(360deg);
  }
}
